* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}
.wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000000;
}
.header {
    width: 100%;
    max-width: 1320px;
    height: 62px;
    margin-top: 20px;
    position: fixed;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.header li {
    list-style: none;
}
.header li a {
    text-decoration: none;
    color: #fff;
}
.header-nav {
    width: 100%;
    max-width: 715px;
    display: flex;
    justify-content: space-between
}
.cart-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contact-us {
    margin-left: 19px;
    width: 100%;
    max-width: 178px;
    height: 62px;
    
}
.contact-us a {
    width: 100%;
    max-width: 178px;
    height: 62px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#57b8ff;
}

.container {
    padding: 0 60px;
    box-sizing: border-box;
}
.block-one {
    width: 100%;
    max-width: 1440px;
    display: flex;
    height: 1069px;
    background-color: #000;
}
.bunners-frame {
    width: 100%;
    max-width: 634px;
    height: 100%;
    background-color: #57b8ff;
    display: grid;
    align-items: center;
    justify-content: center;
}
.bunners-frame img {
    position: relative;
    right: 72px;
}
.block-one_info {
    width: 100%;
    max-width: 806px;
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 4fr;
    align-items: center;
    align-content: center;
    color: #fff;
}
.info-sign {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.info-sign span {
    color: #57b8ff;
}
.discription {
    color: #999;
    margin-top: 40px;
    margin-bottom: 50px;
}
h1 {
    color: #fff;
    font-size: 72px;
}
.block-one_info-text {
    display: flex;
    flex-direction: column;
}
.block-one_info-text li{
    width: 100%;
    max-width: 660px;
}
.yellow_line {
    position: relative;
    left: 216px;
    bottom: 94px;
}
.block-one-nav {
    padding: 20px 15px 50px 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}
.block-one-nav li a {
    writing-mode: vertical-rl;
    transform: scale(-1);
    color: #80858F;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
}
.buttons {
    display: flex;
    /* grid-row-start: 2;
    grid-column-start: 2; */
}
.button:first-child { 
    background-color:#57b8ff; 
}
.button {
    padding: 21px 34px;
    height: 100%;
    /* background-color: #57b8ff; */
    outline: none;
    border: 0;
    background-color: transparent;
    color: #fff;
}


.block-two {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    width: 100%;
    max-width: 1440px;
    height: 695px;
    background-color: #2A313C;
}
.block-two_info {
    width: 100%;
    max-width: 596px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block-two_info h1 {
    color: #fff;
    font-size: 64px;
}
.gallery {
    display: flex;
    justify-content: space-between;
}
.gallery img {
    width: 100%;
    max-width: 174px;
    border: 10px solid transparent;
    border-radius: 20px;
}
.gallery img:first-child {
    border-color: #3B3D46;
}

.block-three {
    width: 100%;
    height: 1222px;
    padding-top: 130px;
    padding-bottom: 130px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.block-three .button {
    height: auto;
    background-color:#57b8ff;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.articles {
    display: grid;
    grid-gap: 24px;
    /* grid-auto-flow: column dense; */
    grid-template-columns: 2fr 1fr 1fr;
}
.article-sign {
    color: #57b8ff;
}
.article-title {
    color: #fff;
    font-size: 23px;
}
.article-bigger {
    grid-row-start: 1;
    grid-row-end: 3;
}
.article-bigger .article-title {
    font-size: 36px;
}

footer {
    width: 100%;
    height: 507px;
    padding: 130px 60px 0 60px;
    box-sizing: border-box;
    background-color: #222730;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.footer-nav {
    list-style: none;
}
.footer-nav li {
    margin-bottom: 16px;
}
.footer-nav a {
    font-size: 15px;
    color: #999;
    text-decoration: none;
}
.footer-logo {
    width: 100%;
    max-width: 294px;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 60px;
    }
    .header {
        padding: 0 30px;
        max-width: 1280px;
        box-sizing: border-box;
        z-index: 1;

    }
    .yellow_line {
        left: 174px;
        bottom: 84px;
    }
    .yellow_line svg {
        width: 374px;
    }
    .article-bigger img {
        width: 100%;
    }
    .article_small {
        width: 244px;
    }
    .article_small img {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 44px;
    }
    .header {
        max-width: 1024px;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .block-one {
        height: 768px;
    }
    .yellow_line {
        left: 128px;
        bottom: 62px;
    }
    .yellow_line svg {
        width: 274px;
    }
    .bunners-frame {
        max-width: 468px;
    }
    .bunners-frame img {
        right: 40px;
        max-width: 524px;
    }
    .discription {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    /* --- block 2 --- */
    .block-two {
        position: relative;
    }
    .character-image img {
        max-width: 412px;
    }
    .block-two_info h1 {
            font-size: 44px;
    }
    .gallery {
        display: flex;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 54px;
        justify-content: space-evenly;
    }
    .block-two_info {
        width: 100%;
        max-width: 596px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 100px;
        margin-left: 20px;
    }
    /* --- block 3 --- */
    .block-three {
        height: 736px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .articles {

    }
    .article-bigger img {
        max-width: 400px;
    }
    .article_small img {
        max-width: 186px;
    }
    .article-title, .article-sign {
        font-size: 14px;
    }
    .article-bigger .article-title {
        font-size: 22px;
    }
    .footer {
        height: 320px;
        padding: 0 60px;
        justify-items: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 34px;
    }
    .header {
        max-width: 768px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    .header-nav {
        max-width: 318px;
    }
    .header .logo svg {
        max-width: 138px;
    }
    .cart-contact {
        width: 100%;
    }
    .contact-us {
        max-width: 120px;
        height: 46px;
        font-size: 14px;
        margin-left: 10px;
    }
    .contact-us a {
        height: 46px;
    }
    .cart svg{
        max-width: 44px;
    }
    .block-one {
        height: 668px;
    }
    .bunners-frame {
        max-width: 360px;
    }
    .bunners-frame img {
        right: 32px;
        max-width: 396px;
    }
    .yellow_line {
        left: 100px;
        bottom: 50px;
    }
    .yellow_line svg {
        width: 214px;
    }
    .button {
        padding: 12px 24px;
    }
    .discription {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .block-two {
        height: 536px;
    }
    .block-two_info {
        margin-bottom: 144px;
        margin-left: 44px;
    }
    .block-two_info h1 {
        font-size: 36px;
    }
    .character-image img {
        max-width: 300px;
    }
    .gallery {
        bottom: 34px;
    }
    .block-three {
        padding: 0 30px;
        height: 634px;
        justify-content: space-evenly;
    }
    .articles {
        grid-gap: 14px;
    }
    .article-bigger img {
        max-width: 346px;
    }
    .article_small img {
        width: 100%;
        /* max-width: 140px; */
    }
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 32px;
    }
    .yellow_line {
        left: 94px;
        bottom: 48px;
    }
    .yellow_line svg {
        width: 196px;
    }
    .bunners-frame img {
        right: 24px;
        max-width: 354px;
    }
}

@media screen and (max-width: 684px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 0;
    }
    .header .logo svg {
        max-width: inherit;
    }
    .header-nav {
        max-width: 684px;
        padding: 0 32px;
        box-sizing: border-box;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .bunners-frame {
        max-width: 294px;
    }
    .bunners-frame img {
        right: 0;
        width: 100%;
        max-width: 314px;
    }
    .block-two {
        height: 500px;
    }
    .block-two_info {
        margin-bottom: 108px;
    }
    .gallery img {
        max-width: 130px;
        border: 6px solid transparent;
        border-radius: 14px;
    }
}

@media screen and (max-width: 414px) {
    .header .logo svg {
        max-width: 128px;
    }
    .cart svg {
        max-width: 36px;
    }
    .contact-us {
        max-width: 108px;
    }
    .contact-us a {
        height: 34px;
        border: 1px solid #fff;
    }
    .header-nav {
        padding: 0;
    }
    .block-one {
        flex-direction: column;
        height: 100%; /* 868px; */
    }
    .block-one_info {
        grid-template-columns: 1fr 4fr;
        margin-top: 24px;
        height: 500px;
    }
    .yellow_line {
        width: 100%;
        max-width: 210px
    }
    .bunners-frame {
        max-width: 100%;
        height: 570px;
    }
    .bunners-frame img {
        max-width: 354px;
        justify-content: center;
        left: 18px;
    }
    .buttons {
        padding-top: 16px;
        box-sizing: border-box;
    }
    .block-two {
        height: 100%;
        flex-direction: column-reverse;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .block-two_info {
        margin-bottom: 22px;
        margin-left: 0;
        padding-top: 16px;
    }
    .discription {
        margin-bottom: 0;
    }
    .gallery {
        position: relative;
        bottom: 0;
        margin-top: 10px;
    }
    .gallery img {
        max-width: 106px;
    }
    .block-three {
        padding: 16px;
        height: 100%;
    }
    .block-three .button {
        width: 100%;
        max-width: 136px;
    }
    .title {
        display: grid;
        row-gap: 12px;
    }
    .title_text {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        flex-wrap: wrap;
    }
    .block-three .button {
        grid-column-start: 3;
    }
    .articles {
        padding: 30px 0;
        box-sizing: border-box;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 26px;
    }
    .article-bigger {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .article-bigger img {
        width: 100%;
        max-width: 364px;
    }
    .article_small {

    }
    .article_small img {
        max-width: 160px;
    }
    .footer {
        padding: 20px;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 26px;
    }
    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 28px;
    }
    .block-one {
        
    }
    .block-one_info {
        grid-template-columns: 1fr 5fr;
        margin-top: 74px;
    }
    .yellow_line {
        left: 82px;
        bottom: 42px;
    }
    .yellow_line svg {
        width: 174px;
    }
    .button {
        padding: 10px 14px;
    }
    .bunners-frame img {
        max-width: 318px
    }
    .block-two {
        padding: 0 20px;
    }
    .block-two_info h1 {
        font-size: 28px;
    }
    .gallery img {
        max-width: 96px;
    }
}